<nav class="navbar navbar-expand-lg bg-white" style="background-image: url('../assets/images/Event.webp');background-size: width_value_here auto; width: 100%; height: 350px;" data-bs-theme="dark">
  <div class="background-img">
      <a class="navbar-brand">
      <img src="assets/images/vanuelook.png" width="10%">
      </a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarColor01"> 
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Venues
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">E-Invitation
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Blog
            </a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link active" href="#">Party Supplies
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Party Supplies
            </a>
          </li>

          <!-- <li class="nav-item dropdown">
            
             <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
              </button>
             <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Venue</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li> -->
        
            
            
        
        </ul>
        
        
      
      
    
<!--         
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> -->
          </div>
        <div class="search-container" >
          <!-- <label for="search">Search: </label> -->
          <input type="text" id="search" name="search">
          <button type="submit">Search</button>
        
        </div>
      </div>
      
      
    
   </nav>
