<app-header></app-header>
<!--<img src="../assets/images/homeimg.jpg" width="1400" height="600">-->
 <!-- <div>
  <div  id="navbarColor01"> 
        <ul style="list-style: none;">
          <li class="nav-item">
            <a class="nav-link active" href="#">
                <img class="lazyloaded" alt="Wedding" width="95" height="95" src="../assets/images/wedding.png">
                <p class="event-p">Wedding</p> 
            </a>
          </li>
          </ul>
          </div>
          <div  id="navbarColor02"> 
            <ul style="list-style: none;">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                    <img class="lazyloaded" alt="Wedding" width="95" height="95" src="../assets/images/wedding.png
                </a>
              </li>
              </ul>
              </div>
         </div> -->
         
        <div class="row">
          <div class="column">
            <ul style="list-style: none;">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                    <img class="lazyloaded" alt="Wedding" width="70" height="70" src="../assets/images/wedding.png">
                    <p class="event-p">Wedding</p> 
                </a>
              </li>
              </ul>
          </div>
          <div  class="column">
            <ul style="list-style: none;">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                    <img class="lazyloaded" alt="Wedding" width="70" height="70" src="../assets/images/ring.png">
                    <p class="event-p">Ring</p> 
                </a>
              </li>
              </ul>
          </div>

          <div  class="column">
            <ul style="list-style: none;">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                    <img class="lazyloaded" alt="Wedding" width="70" height="70" src="../assets/images/cocktail.png">
                    <p class="event-p">Cocktail</p> 
                </a>
              </li>
              </ul>
          </div>
          <div  class="column">
            <ul style="list-style: none;">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                    <img class="lazyloaded" alt="Wedding" width="70" height="70" src="../assets/images/ofc-party.png">
                    <p class="event-p">Office Party</p> 
                </a>
              </li>
              </ul>
          </div>
          <div  class="column">
            <ul style="list-style: none;">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                    <img class="lazyloaded" alt="Wedding" width="70" height="70" src="../assets/images/pool.png">
                    <p class="event-p">Pool</p> 
                </a>
              </li>
              </ul>
          </div>
          <div  class="column">
            <ul style="list-style: none;">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                    <img class="lazyloaded" alt="Wedding" width="70" height="70" src="../assets/images/cake.png">
                    <p class="event-p">cake</p> 
                </a>
              </li>
              </ul>
          </div>
          <div  class="column">
            <ul style="list-style: none;">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                    <img class="lazyloaded" alt="Wedding" width="70" height="70" src="../assets/images/banquet.png">
                    <p class="event-p">Banquet</p> 
                </a>
              </li>
              </ul>
          </div>
        </div>
        
        
<app-footer></app-footer>